body {
  overflow-x: hidden;
}

.header {
  background-color: rgb(135, 220, 120);
  position: absolute;
  width: 100%;
  font-size: xx-large;
  text-align: center;
  padding: 20px;
  z-index: 100;
  margin-top: 0;
  font-family: "Lucida console";
}

.list-container {
  transform: translateY(100px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Aisle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-family: "Consolas";
  background-color: rgba(190, 190, 190, 40);
  border-radius: 20px;
}

.Aisle h2,
p {
  padding: 0px 10px 0px 10px;
}

.Aisle:hover {
  cursor: pointer;
}
