<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="../static/cart.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header">GreenCart</div>
    <table id="item-container">
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </table>
    <button type="submit">Place Order</button>
    <script src="../static/cart.js"></script>
  </body>
</html>
