<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GreenCart</title>
    <link href="../static/home.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header">GreenCart</div>
    <div class="list-container">
      {% for i in range(data['rows']) %}
      <div class="Aisle">
        <h2>{{ data[i|string][1] }}</h2>
        <p>Aisle {{ (i+1)|string }}</p>
      </div>
      {% endfor %}
    </div>
    <script src="../static/home.js"></script>
  </body>
</html>
